[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
model-bakery = "*"

[packages]
django = "*"
django-environ = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
slackclient = "*"
whitenoise = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
